/* ====================ESTILOS GLOBAIS================ */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    text-decoration: none;
    list-style: none;
    border: none;
    /* background-color: #f5f5f5; */
}

/* ====================BREAKPOINTS RESPONSIVOS================ */

